<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_676380186c87474d867908e95c547191 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
    <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
</head>
<body>    
    
    <div class="folium-map" id="map_676380186c87474d867908e95c547191" ></div>
</body>
<script>    
    
    
        var southWest = L.latLng(40, -114);
        var northEast = L.latLng(48, -128);
        var bounds = L.latLngBounds(southWest, northEast);
    

    var map_676380186c87474d867908e95c547191 = L.map(
        'map_676380186c87474d867908e95c547191', {
        center: [0, 0],
        zoom: 1,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_1a793064619e477a9bffb092bdd0c2db = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 14,
        "maxZoom": 14,
        "minZoom": 7,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_676380186c87474d867908e95c547191);
    
            var feature_group_70a7eae517ea46ac9efe4b8b72d214ee = L.featureGroup(
                ).addTo(map_676380186c87474d867908e95c547191);
        
    
            var heat_map_5414f0345dd14dfeab25f94840f6d0b8 = L.heatLayer(
                [[44.0895, -122.831], [42.6121667, -123.9563333], [42.208, -120.045], [42.0905, -120.2401667], [42.0793333, -120.2375], [42.0916667, -120.2455], [45.3423333, -121.6798333], [45.3348333, -121.6863333], [42.2313333, -121.9011667], [45.19, -120.1126667], [45.1971667, -120.1248333], [45.1973333, -120.0671667], [42.3943333, -122.0388333], [42.2861667, -121.9476667], [42.2618333, -121.9208333], [42.2538333, -121.912], [42.271, -121.92], [42.286, -121.9348333], [42.2818333, -121.9478333], [42.2365, -121.9726667], [42.2356667, -121.9718333], [42.2915, -122.0086667], [42.3721667, -121.9746667], [42.3036667, -122.0503333], [42.3876667, -122.0508333], [42.3575, -122.0583333], [42.2823333, -122.0003333], [42.2951667, -122.0293333], [42.266, -122.0108333], [42.3, -122.0], [42.396, -121.941], [42.3161667, -122.0266667], [42.3195, -122.02], [45.8603333, -119.5895], [45.9895, -118.317]],
                {
                    minOpacity: 0.5,
                    maxZoom: 18,
                    max: 1.0,
                    radius: 25,
                    blur: 15,
                    gradient: null
                    })
                .addTo(feature_group_70a7eae517ea46ac9efe4b8b72d214ee);
        
    
            var layer_control_0bda7d4bb99d420d9ef949a3d2793b10 = {
                base_layers : { "openstreetmap" : tile_layer_1a793064619e477a9bffb092bdd0c2db, },
                overlays : { "Heat Map" : feature_group_70a7eae517ea46ac9efe4b8b72d214ee, }
                };
            L.control.layers(
                layer_control_0bda7d4bb99d420d9ef949a3d2793b10.base_layers,
                layer_control_0bda7d4bb99d420d9ef949a3d2793b10.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_676380186c87474d867908e95c547191);
            
        
</script>